<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Etiqueta {{ tipo_ped }} {{ pedido }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap">
    <style>{{ style_css }}</style>
</head>
<body>
    {% for dado in dados %}
    {% for i in range(0, dado.volume) %}
    <div class="documento">

        <div class="bloco_1">

            <div class="rem_dest" style="height: 450px">

                <div id="remetente" style="float: left; color: white; background-color: {{ dado.cor_1 }}; width: 350px; height: 100px; padding: 15px; border-radius: 10px;">
                    <span style="font-size: 22px; color: white;"><b>REMITENTE</b></span>
                    <div id="rem_dados" style="background-color: {{ dado.cor_2 }}; padding: 15px; border-radius: 10px; margin-top: 10px">
                        <span style="color: {{ dado.cor_1 }}"><b>RAZON SOCIAL</b></span>
                        <br><span>{{ dado.rem_razao }}</span>
                        <hr>
                        <span style="color: {{ dado.cor_1 }}"><b>TAX ID | RUT | RUC | EIN | NIT</b></span>
                        <br><span>{{ dado.rem_cnpj }}</span>
                        <hr>
                        <span style="color: {{ dado.cor_1 }}"><b>CODIGO</b></span>
                        <br><span>{{ dado.rem_cep }}</span>
                        <hr>
                        <span style="color: {{ dado.cor_1 }}"><b>DIRECIÓN</b></span>
                        <br><span>{{ dado.rem_endereco }}</span>
                        <hr>
                        <span style="color: {{ dado.cor_1 }}"><b>CIUDAD - PAIS</b></span>
                        <br><span>{{ dado.rem_cidade }}</span>
                    </div>
                </div>

                <div id="destinatario" style="float: left; color: white; background-color: {{ dado.cor_1 }}; width: 350px; height: 100px; padding: 15px; border-radius: 10px; margin-left: 20px;">
                    <span style="font-size: 22px; color: white;"><b>DESTINATARIO</b></span>
                    <div id="dest_dados" style="background-color: {{ dado.cor_2 }}; padding: 15px; border-radius: 10px; margin-top: 10px">
                        <span style="color: {{ dado.cor_1 }}"><b>RAZON SOCIAL</b></span>
                        <br><span>{{ dado.dest_razao }}</span>
                        <hr>
                        <span style="color: {{ dado.cor_1 }}"><b>TAX ID | RUT | RUC | EIN | NIT</b></span>
                        <br><span>{{ dado.dest_cnpj }}</span>
                        <hr>
                        <span style="color: {{ dado.cor_1 }}"><b>CODIGO</b></span>
                        <br><span>{{ dado.dest_cep }}</span>
                        <hr>
                        <span style="color: {{ dado.cor_1 }}"><b>DIRECIÓN</b></span>
                        <br><span>{{ dado.dest_endereco }}</span>
                        <hr>
                        <span style="color: {{ dado.cor_1 }}"><b>CIUDAD - PAIS</b></span>
                        <br><span>{{ dado.dest_cidade }}</span>
                    </div>
                </div>
            
            </div>

            
            <div style="float: left; margin-bottom: 15px;">
                <div id="pedido" style="float: left; background-color: {{ dado.cor_2 }}; padding: 15px; border-radius: 10px; width: 70px; margin: 10px;">
                    <span style="color: {{ dado.cor_1 }}"><b>ORDEN</b></span><br>
                    <br><span>{% if dado.num_ped %}{{ dado.num_ped }}{% endif %}</span>
                </div>

                <div id="nota" style="float: left; background-color: {{ dado.cor_2 }}; padding: 15px; border-radius: 10px; width: 175px; margin: 10px;">
                    <span style="color: {{ dado.cor_1 }}"><b>FATURA COMERCIAL</b></span><br>
                    <br><span>{% if dado.nota %}{{ dado.nota }}{% endif %}</span>
                </div>

                <div id="peso" style="float: left; background-color: {{ dado.cor_2 }}; padding: 15px; border-radius: 10px; width: 110px; margin: 10px;">
                    <span style="color: {{ dado.cor_1 }}"><b>PESO BRUTO</b></span><br>
                    <br><span>{% if dado.peso_bruto %}{{ dado.peso_bruto }} kg{% endif %}</span>
                </div>

                <div id="cubagem" style="float: left; background-color: {{ dado.cor_2 }}; padding: 15px; border-radius: 10px; width: 80px; margin: 10px;">
                    <span style="color: {{ dado.cor_1 }}"><b>CUBAJE</b></span><br>
                    <br><span>{% if dado.cubagem %}{{ dado.cubagem }} m³{% endif %}</span>
                </div>

                <div id="volume" style="float: left; background-color: {{ dado.cor_2 }}; padding: 15px; border-radius: 10px; width: 85px; margin: 10px;">
                    <span style="color: {{ dado.cor_1 }}"><b>VOLUMEN</b></span><br>
                    <br><span>{% if dado.volume %} {{i+1}} / {{ dado.volume }}{% endif %}</span>
                </div>
            </div>


            <div id="transportadora" style="float: left; color: white; background-color: {{ dado.cor_1 }}; width: 270px; height: 100px; padding: 15px; border-radius: 10px; margin-top: 5px; margin-right: 15px">
                <span style="font-size: 22px; color: white;"><b>TRANSPORTISTA</b></span>
                <div id="transporte" style="background-color: {{ dado.cor_2 }}; ; padding: 15px; border-radius: 10px; margin-top: 10px">
                    <span style="color: {{ dado.cor_1 }}"><b>RAZON SOCIAL</b></span>
                    <br><span style="font-size: 16px;">{{ dado.transportadora }}</span>
                    <hr>
                    <span style="color: {{ dado.cor_1 }}"><b>MANUALES DE TRANSPORTE</b></span><br>
                    <div style="text-align: center; margin-top: 10px;; margin-bottom: 10px;"><img width=40% src="data:image/png;base64, {{ dado.qr_code }}"></div>
                    <div style=" background-color: yellow;">
                        <span style="font-size: 12px;"><b>No recibir con embalaje dañado, consultar manual del transportista.</b></span>
                    </div>
                </div>
            </div>

            <div id="mascara" style="float: left; background-color: {{ dado.cor_2 }}; padding: 15px; border-radius: 10px; width: 430px; margin: 5px">
                <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>DESCRIPCIÓN
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    ID: </b></span>
                <span>{% if dado.id %}{{ dado.id }}{% endif %}</span>
                <br><br>
                <span id="desc_masc" style="font-size: 15px;">{{ dado.desc_masc }}</span>
            </div>

        </div>


        <div class="bloco_2">

            <div class="marca_produto">
                {% if dado.marca_imagem %}<img id="marca" src="data:image/png;base64, {{ dado.marca_imagem }}">{% endif %}
                {% if dado.produto_imagem %}<img id="produto" src="data:image/png;base64, {{ dado.produto_imagem }}">{% endif %}
            </div>

            <span style="font-size: 12px;">*Imagen ilustrativa.</span>

            <div id="familia" style="text-align: center; padding: 15px; width: 100%;">
                <b style="font-size: 35px; color: {{ dado.cor_1 }}">{{ dado.item }}</b>
            </div>


            <div style="height: 200px; margin-top: 10px;">

                <div id="tecido" style="float: left; width: 110px; height: 190px; margin-right: 15px">
                    <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>TEJIDO</b></span><br><br>
                    {% for dado_2 in dados_2 %}
                        {% if dado_2.itpdv_id == dado.itpdv_id and dado_2.tipo == 963 %}
                            <div style="float: left; width: 105px; margin: 5px;">
                                <img id="tecido_img" style="float: left; padding-right: 10px" width=35 height=50 src="data:image/png;base64, {{ dado_2.tec_imagem }}">
                                <span style="font-size: 16px;">{{ dado_2.desc_pai }}</span><br>
                                <span style="font-size: 16px;">{{ dado_2.desc_filho }}</span><br>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>


                <div id="acabamento" style="float: left; padding-left: 15px; width: 270px; height: 215px; border-left: 1px solid #bfc8cc; border-right: 1px solid #bfc8cc">
                    <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>ACABADO</b></span><br><br>
                    {% for dado_2 in dados_2 %}
                        {% if dado_2.itpdv_id == dado.itpdv_id and dado_2.tipo == 980 %}
                            <div style="float: left; width: 265px; margin: 5px;">
                                <img id="acab_imgl" style="float: left; padding-right: 10px" width=35 height=50 src="data:image/png;base64, {{ dado_2.acab_imagem }}">
                                <span style="font-size: 16px;">{{ dado_2.desc_pai }}</span><br>
                                <span style="font-size: 16px;">{{ dado_2.desc_filho }}</span><br>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>  

                <div id="conforto" style="float: left; width: 115px; height: 90px; margin-left: 15px;">
                    <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>COMODIDAD</b></span>
                    <div style="text-align: center; margin-top: 20px; height: 70px;">
                        {% if dado.conforto %}<img id="conforto_img" src="data:image/png;base64, {{ dado.conforto_imagem }}">{% endif %}
                    </div>
                    <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>DIMENSIONES</b></span><br>
                    <br><span style="font-size: 16px; color: {{ dado.cor_1 }}"><b>C:&nbsp;&nbsp;&nbsp;</b>{% if dado.comprimento %}{{ dado.comprimento }}{% endif %}</span>
                    <br><span style="font-size: 16px; color: {{ dado.cor_1 }}"><b>P:&nbsp;&nbsp;&nbsp;</b>{% if dado.profundidade %}{{ dado.profundidade }}{% endif %}</span>
                    <br><span style="font-size: 16px; color: {{ dado.cor_1 }}"><b>A:&nbsp;&nbsp;&nbsp;</b>{% if dado.altura %}{{ dado.altura }}{% endif %}</span>
                </div>

            </div>

            <div id="croqui" style="float: left; padding: 10px; width: 520px; height: 240px; margin-top: 15px;">
                <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>MODULACIÓN:&nbsp;&nbsp;</b></span>
                <span style="font-size: 16px;">&nbsp;&nbsp;{% if dado.desc_mod %}{{ dado.desc_mod }}{% endif %}</span>
                <div style="text-align: center; margin-top: 15px;">
                    {% if dado.croqui %}<img id="croqui_img" src="data:image/png;base64, {{ dado.croqui }}">{% endif %}
                </div>
                <br><span style="font-size: 12px;">*Dibujo ilustrativa.</span>
            </div>

        </div>

    </div>
    {% endfor %}
    {% endfor %}
</body>
</html>