<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Etiqueta {{ pedido }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap">
    <style>
        body {margin: 0;}

        .documento {
            font-family: "Gilroy", "Red Hat Display", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-size: 11px;
        }

        .bloco_1 {
            width: 56.5%;
            padding: 20px;
            float: left;
            page-break-inside: avoid;

        }

        .bloco_2 {
            width: 39%;
            padding-top: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            float: left;
            page-break-inside: avoid;
        }

        .marca_produto {
            height: 380px;
            text-align: center;
            width: 100%;
        }

        #marca {
            max-height: 80px;
            max-width: 70%;
        }

        #produto {
            max-width: 100%;
            max-height: 220px;
        }

        #mascara {
            max-height: 319px; 
        }

        #desc_masc {
            page-break-inside: avoid;
        }

        #conforto_img {
            max-height: 35px;
            max-width: 115px;
        }

        #croqui_img {
            max-height: 380px;
            max-width: 510px;
        }

        hr {
            margin-top: 10px;
            margin-bottom: 10px;
            width:100%; 
            height: 1px; 
            background-color: #bfc8cc; 
            border: #bfc8cc;
        }
    </style>
</head>
<body>

    {% for dado in dados %}

    <div class="documento">

        <div class="bloco_1">

            <div class="rem_dest" style="height: 460px;">

                <div id="remetente" style="float: left; color: white; background-color: {{ dado.cor_1 }}; width: 350px; height: 100px; padding: 15px; border-radius: 10px;">
                    <span style="font-size: 25px;"><b>REMETENTE </b></span>
                    <!-- <i style="font-size: 20px;">| SHIP FROM</i> -->
                    <br><br>
                    <div id="rem_dados" style="background-color: {{ dado.cor_2 }}; padding: 15px; border-radius: 10px;">
                        <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>RAZÃO SOCIAL </b></span>
                        <!-- <i style="font-size: 15px; color: {{ dado.cor_1 }}">| COMPANY</i> -->
                        <br><span style="font-size: 18px; color: #23272a;">{{ dado.rem_razao }}</span>
                        
                        <hr>

                        <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>CNPJ </b></span>
                        <!-- <i style="font-size: 15px; color: {{ dado.cor_1 }}">| TAX ID | RUT | RUC | EIN | NIT</i> -->
                        <br><span style="font-size: 18px; color: #23272a;">{{ dado.rem_cnpj }}</span>
                        
                        <hr>

                        <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>CEP </b></span>
                        <!-- <i style="font-size: 15px; color: {{ dado.cor_1 }}">| ZIP CODE</i> -->
                        <br><span style="font-size: 18px; color: #23272a;">{{ dado.rem_cep }}</span>
                        
                        <hr>

                        <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>ENDEREÇO </b></span>
                        <!-- <i style="font-size: 15px; color: {{ dado.cor_1 }}">| ADRESS</i> -->
                        <br><span style="font-size: 18px; color: #23272a;">{{ dado.rem_endereco }}</span>
                        
                        <hr>

                        <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>CIDADE - PAIS </b></span>
                        <!-- <i style="font-size: 15px; color: {{ dado.cor_1 }}">| CITY - COUNTRY</i> -->
                        <br><span style="font-size: 18px; color: #23272a;">{{ dado.rem_cidade }}</span>
                    </div>
                </div>


                <div id="destinatario" style="float: left; color: white; background-color: {{ dado.cor_1 }}; width: 350px; height: 100px; padding: 15px; border-radius: 10px; margin-left: 20px;">
                    <span style="font-size: 25px;"><b>DESTINATÁRIO </b></span>
                    <!-- <i style="font-size: 20px;">| SHIP TO </i> -->
                    <br><br>
                    <div id="dest_dados" style="background-color: {{ dado.cor_2 }}; padding: 15px; border-radius: 10px;">
                        <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>RAZÃO SOCIAL </b></span>
                        <!-- <i style="font-size: 15px; color: {{ dado.cor_1 }}">| COMPANY</i> -->
                        <br><span style="font-size: 18px; color: #23272a;">{{ dado.dest_razao }}</span>

                        <hr>

                        <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>CNPJ </b></span>
                        <!-- <i style="font-size: 15px; color: {{ dado.cor_1 }}">| TAX ID | RUT | RUC | EIN | NIT</i> -->
                        <br><span style="font-size: 18px; color: #23272a;">{{ dado.dest_cnpj }}</span>

                        <hr>

                        <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>CEP </b></span>
                        <!-- <i style="font-size: 15px; color: {{ dado.cor_1 }}">| ZIP CODE</i> -->
                        <br><span style="font-size: 18px; color: #23272a;">{{ dado.dest_cep }}</span>

                        <hr>

                        <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>ENDEREÇO </b></span>
                        <!-- <i style="font-size: 15px; color: {{ dado.cor_1 }}">| ADRESS</i> -->
                        <br><span style="font-size: 18px; color: #23272a;">{{ dado.dest_endereco }}</span>

                        <hr>

                        <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>CIDADE - PAIS </b></span>
                        <!-- <i style="font-size: 15px; color: {{ dado.cor_1 }}">| CITY - COUNTRY</i> -->
                        <br><span style="font-size: 18px; color: #23272a;">{{ dado.dest_cidade }}</span>
                    </div>
                </div>
            
            </div>

            <div id="pedido" style="float: left; background-color: {{ dado.cor_2 }}; padding: 15px; border-radius: 10px; width: 70px; margin: 15px;">
                <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>PEDIDO </b></span><br>
                <!-- <i style="font-size: 13px; color: {{ dado.cor_1 }}">ORDER</i><br> -->
                <br><span style="font-size: 18px; color: #23272a;">{% if dado.num_ped %}{{ dado.num_ped }}{% endif %}</span>
            </div>

            <div id="nota" style="float: left; background-color: {{ dado.cor_2 }}; padding: 15px; border-radius: 10px; width: 125px; margin: 15px;">
                <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>NOTA FISCAL</b></span><br>
                <!-- <i style="font-size: 13px; color: {{ dado.cor_1 }}">COMMERCIAL INVOICE</i><br> -->
                <br><span style="font-size: 18px; color: #23272a;">{% if dado.nota %}{{ dado.nota }}{% endif %}</span>
            </div>

            <div id="peso" style="float: left; background-color: {{ dado.cor_2 }}; padding: 15px; border-radius: 10px; width: 120px; margin: 15px;">
                <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>PESO BRUTO</b></span><br>
                <!-- <i style="font-size: 13px; color: {{ dado.cor_1 }}">GROSS WEIGHT</i><br> -->
                <br><span style="font-size: 18px; color: #23272a;">{% if dado.peso_bruto %}{{ dado.peso_bruto }}{% endif %}</span>
            </div>

            <div id="cubagem" style="float: left; background-color: {{ dado.cor_2 }}; padding: 15px; border-radius: 10px; width: 95px; margin: 15px;">
                <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>CUBAGEM</b></span><br>
                <!-- <i style="font-size: 13px; color: {{ dado.cor_1 }}">CUBAGE</i><br> -->
                <br><span style="font-size: 18px; color: #23272a;">{% if dado.cubagem %}{{ dado.cubagem }} m³{% endif %}</span>
            </div>

            <div id="volume" style="float: left; background-color: {{ dado.cor_2 }}; padding: 15px; border-radius: 10px; width: 85px; margin: 15px;">
                <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>VOLUME</b></span><br>
                <!-- <i style="font-size: 13px; color: {{ dado.cor_1 }}">VOLUME</i><br> -->
                <br><span style="font-size: 18px; color: #23272a;">{% if dado.volume %}{{ dado.volume }}{% endif %}</span>
            </div>

            <div id="transportadora" style="float: left; color: white; background-color: {{ dado.cor_1 }}; width: 266px; height: 100px; padding: 15px; border-radius: 10px; margin-top: 15px; margin-right: 15px">
                <span style="font-size: 25px;"><b>TRANSPORTADORA </b></span>
                <!-- <i style="font-size: 15px;">| CARRIER</i> -->
                <br><br>
                <div id="transporte" style="background-color: {{ dado.cor_2 }}; ; padding: 15px; border-radius: 10px;">
                    <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>RAZAO SOCIAL </b></span>
                    <!-- <i style="font-size: 13px; color: {{ dado.cor_1 }}">| COMPANY</i><br> -->
                    <br><span style="font-size: 18px; color: #23272a;">{{ dado.transportadora }}</span>

                <hr>

                    <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>MANUAL DE TRANSPORTE </b></span><br>
                    <!-- <i style="font-size: 13px; color: {{ dado.cor_1 }}">MANUAL TO TRANSPORT</i><br> -->
                    <br><img width=40% src="data:image/png;base64, {{ dado.qr_code }}">
                </div>
            </div>

            <div id="mascara" style="float: left; background-color: {{ dado.cor_2 }}; padding: 15px; border-radius: 10px; width: 425px; margin: 15px">
                <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>DESCRICAO </b></span>
                {% if dado.id %}<span style="font-size: 18px; color: #23272a;">{{ dado.id }}</span>{% endif %}
                <!-- <i style="font-size: 13px; color: {{ dado.cor_1 }}">| DESCRIPTION</i> -->
                <br><br><span id="desc_masc" style="font-size: 16px; color: #23272a;">{{ dado.desc_masc }}</span>
            </div>

        </div>

        <div class="bloco_2">
            <div class="marca_produto">
                <br><img id="marca" src="data:image/png;base64, {{ dado.marca_logo }}"><br><br>
                <img id="produto" src="data:image/png;base64, {{ dado.produto_foto }}">
            </div>

            <div id="familia" style="text-align: center; padding: 15px; width: 100%;">
                <b style="font-size: 35px; color: {{ dado.cor_1 }};">{{ dado.item }}</b><br>
            </div>

            <div id="tecido" style="float: left; background-color: {{ dado.cor_2 }}; padding: 15px; border-radius: 10px; width: 150px; height: 90px;margin-top: 10px;">
                <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>TECIDO</b></span>
                <!-- {% if dado.tecido %}<span style="font-size: 18px; color: #23272a;">{{ dado.tecido }}</span>{% endif %} -->
                <!-- <i style="font-size: 13px; color: {{ dado.cor_1 }}">| FABRIC</i> -->
                <br><br>
                {% if dado.tec_imagem %}<img id="tecido_img" width=145 height=50 src="data:image/png;base64, {{ dado.tec_imagem }}">{% endif %}
            </div>

            <div id="acabamento" style="float: left; background-color: {{ dado.cor_2 }}; padding: 15px; border-radius: 10px; width: 150px; height: 90px; margin-left: 20px; margin-top: 10px;">
                <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>ACABAMENTO</b></span>
                <!-- {% if dado.acabamento %}<span style="font-size: 18px; color: #23272a;">&nbsp;&nbsp;{{ dado.acabamento }}</span>{% endif %} -->
                <!-- <i style="font-size: 13px; color: {{ dado.cor_1 }}">| FABRIC</i> -->
                <br><br>
                {% if dado.acab_imagem %}<img id="acab_img" width=145 height=50 src="data:image/png;base64, {{ dado.acab_imagem }}">{% endif %}
            </div>

            <div id="conforto" style="float: left; background-color: {{ dado.cor_2 }}; padding: 15px; border-radius: 10px; width: 115px; height: 90px; margin-left: 20px; margin-top: 10px;">
                <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>CONFORTO </b></span>
                <!-- <i style="font-size: 13px; color: {{ dado.cor_1 }}">| CONFORT</i> -->
                <br><br><br>
                {% if dado.conforto %}<img id="conforto_img" src="data:image/png;base64, {{ dado.conforto_imagem }}">{% endif %}
            </div>

            <div id="croqui" style="float: left; background-color: {{ dado.cor_2 }}; padding: 15px; border-radius: 10px; width: 520px; height: 310px; margin-top: 20px;">
                <span style="font-size: 20px; color: {{ dado.cor_1 }}"><b>MODULACAO DO PRODUTO:&nbsp;&nbsp;</b></span>
                {% if dado.modulacao %}<span style="font-size: 18px; color: #23272a;">&nbsp;&nbsp;{{ dado.modulacao }}</span>{% endif %}
                <!-- <i style="font-size: 13px; color: {{ dado.cor_1 }}">| MODULATION</i> -->
                <br><br><br>
                {% if dado.croqui %}<img id="croqui_img" src="data:image/png;base64, {{ dado.croqui }}">{% endif %}
            </div>

        </div>

    </div>

    {% endfor %}

</body>
</html>